@import "./../../../main/main.scss";

.reset__btn {
    @include display-flex(center, center);
    width: 200px;
    height: 50px;
    background-color: $grey-light;
    border-radius: 15px;
    transition: .4s;
    cursor: pointer;

    &:hover {
        transition: .4s;
        opacity: .8;
    }
}