@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Permanent+Marker&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

body {
  background-color: #292929; }

/* width */
::-webkit-scrollbar {
  width: 14px; }

/* Track */
::-webkit-scrollbar-track {
  background: #5A6268; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #BDFFA0; }

/* Handle on hover */
.wrapper {
  max-width: 1432px;
  padding: 0 60px;
  margin: 0 auto; }

@media screen and (max-width: 500px) {
  .wrapper {
    max-width: 1432px;
    padding: 0 30px;
    margin: 0 auto; } }
.header {
  padding-top: 20px; }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__wrapper .header__logo {
      cursor: pointer;
      filter: drop-shadow(0px 0px 5px #BDFFA0);
      transition: .4s; }
      .header__wrapper .header__logo:hover {
        opacity: 0.6;
        transition: .4s; }
    .header__wrapper .header__nav .header__list {
      display: flex;
      align-items: center;
      column-gap: 35px; }
      .header__wrapper .header__nav .header__list .header__item {
        padding: 10px 0;
        position: relative;
        font-family: "Permanent Marker", cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: auto;
        letter-spacing: 0;
        color: #fff;
        cursor: pointer;
        transition: opacity .4s; }
        .header__wrapper .header__nav .header__list .header__item:hover {
          transition: opacity .4s;
          opacity: .8; }
        .header__wrapper .header__nav .header__list .header__item::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 4px;
          background-color: #fff;
          transition: 0.5s transform ease;
          transform: scale3d(0, 1, 1);
          transform-origin: 0 50%; }
        .header__wrapper .header__nav .header__list .header__item::before {
          border-radius: 10px;
          background: #09B20E;
          transform-origin: 100% 50%; }
        .header__wrapper .header__nav .header__list .header__item:hover::before {
          transform: scale3d(1, 1, 1); }
        .header__wrapper .header__nav .header__list .header__item:hover::before {
          transform-origin: 0 50%; }
    .header__wrapper .header__nav .menu {
      display: none; }

@media screen and (max-width: 1200px) {
  .header .header__wrapper .header__logo {
    width: 200px;
    height: 62px; }
  .header .header__wrapper .header__nav._active .header__list {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 40px;
    top: 20px;
    position: absolute;
    width: 400px;
    height: 320px;
    background-color: rgba(90, 98, 104, 0.8);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    transition: .3s;
    z-index: 100; }
  .header .header__wrapper .header__nav._active .menu {
    z-index: 100; }
    .header .header__wrapper .header__nav._active .menu .menu-bar {
      position: absolute;
      width: 80%;
      border: 1.5px solid white;
      border-radius: 5px;
      transition: .3s; }
      .header .header__wrapper .header__nav._active .menu .menu-bar-1 {
        top: auto;
        transform: rotate(-45deg);
        transition: .3s; }
      .header .header__wrapper .header__nav._active .menu .menu-bar-2 {
        display: none;
        transition: .3s; }
      .header .header__wrapper .header__nav._active .menu .menu-bar-3 {
        bottom: auto;
        transform: rotate(45deg);
        transition: .3s; }
  .header .header__wrapper .header__nav .header__list {
    display: none; }
  .header .header__wrapper .header__nav .menu {
    position: relative;
    width: 34px;
    height: 34px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .3s; }
    .header .header__wrapper .header__nav .menu .menu-bar {
      position: absolute;
      width: 80%;
      border: 1.5px solid white;
      border-radius: 5px;
      transition: .3s; }
      .header .header__wrapper .header__nav .menu .menu-bar-1 {
        top: 8px;
        transition: .3s; }
      .header .header__wrapper .header__nav .menu .menu-bar-3 {
        bottom: 8px;
        transition: .3s; } }
@media screen and (max-width: 500px) {
  .header .header__wrapper .header__logo {
    width: 170px;
    height: 52px; }
  .header .header__wrapper .header__nav._active .header__list {
    right: 15px;
    top: 20px;
    width: calc(100% - 30px);
    height: 320px; }
  .header .header__wrapper .header__nav .menu {
    position: relative;
    width: 34px;
    height: 34px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .header .header__wrapper .header__nav .menu .menu-bar {
      position: absolute;
      width: 80%;
      border: 1.5px solid white;
      border-radius: 5px;
      transition: .3s; }
      .header .header__wrapper .header__nav .menu .menu-bar-1 {
        top: 8px; }
      .header .header__wrapper .header__nav .menu .menu-bar-3 {
        bottom: 8px; } }

/*# sourceMappingURL=header.css.map */
