@import "./../../../components/main/main.scss";

.characters {
    width: 100%;
    min-height: 100vh;
    background-image: url(../../../components/main/img/fragments-bg.png);


    &__filters-container {
        margin-bottom: 80px;
        margin-top: 100px;
        @include display-flex(space-around, center);
        flex-wrap: wrap;
        gap: 30px 25px;
    }


    .characters__card-wrapper {
        width: 100%;
        @include display-flex(space-around, center);
        flex-wrap: wrap;
        gap: 50px 40px;
    
    
        .characters__card {
            padding: 20px;
            width: 320px;
            height: 430px;
            background-color: $white;
            border-radius: 15px;
    
            background-image: url(./../img/card__semicircle.svg);
            background-position: center bottom 0;
            background-repeat: no-repeat;
    
            .characters__img {
                position: relative;

                img {
                    display: block;
                    margin: 20px auto 40px;
                    position: relative;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    border: 1px solid $green-light;  
                    z-index: 3;                  
                }

            
                &::before, &::after {
                    content: "";
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: $green-light;
                    opacity: .2;
                }
            
                &::before {
                    width: 120px;
                    height: 120px;
                }
            
                &::after {
                    width: 140px;
                    height: 140px;
                }
            }
    
            .title-view  {
                justify-content: space-between;
            }
    
            .card__info {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                row-gap: 12px;
    
                .card__info-text {
                    font-family: $main-font;
                    @include font($grey-light, 18px, 700, auto, 0);
    
                    span {
                        color: $green-light;
                    }
                }
            }
        }
    }

    &__not-found {
        width: 100%;
        @include display-flex(center,center);
        flex-direction: column;
        row-gap: 30px;
        transition: .5s;


        &._hide {
           display: none;
        }

        img {
            margin: 0 auto;
        }

        &-text {
            font-family: $main-font;
            @include font($white, 18px, 700, auto, 0);
        }
    }
}



@media screen and (max-width: 1200px) {
    .characters {

        .filter-select {
            .filter {
                &__select { 
                    width: 300px;
                }
            }
        }

        .reset__btn {
            width: 300px;
        }
    }
}

@media screen and (max-width: 600px) {
    .characters {
        .filter-select {
            .filter {
                font-size: 16px;
                &__select { 
                    width: 260px;
                }
            }
        }

        .reset__btn {
            width: 260px;
            font-size: 20px;
        }
    }
}


@media screen and (max-width: 500px) {
    .characters {
        .characters__filters-container {
            flex-direction: column;
            width: 100%;
        }

        .characters__card-wrapper {
            .characters__card {
                .card__info {
                    .card__info-text {
                        font-size: 17px;
                    }
                }
            }
        }

        .filter-select {
            width: 100%;

            .filter {
                &__select { 
                    width: 100%;
                }
            }
        }

        .reset__btn {
            width: 100%;
            font-size: 20px;
        }
    }
}