@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Permanent+Marker&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

body {
  background-color: #292929; }

.wrapper {
  width: 1342px;
  padding: 0 15px;
  margin: 0 auto; }

.characters {
  width: 100%;
  min-height: 100vh;
  background-image: url(../../../components/main/img/fragments-bg.png); }
  .characters__filters-container {
    margin-bottom: 80px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .characters__filters-container .filter {
      padding: 0 15px;
      height: 50px;
      background-color: #5A6268;
      border-radius: 15px;
      font-family: "Comfortaa", sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: auto;
      letter-spacing: 0;
      color: #fff; }
      .characters__filters-container .filter__select {
        width: 300px;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url(../img/arrow.svg);
        background-repeat: no-repeat;
        background-position: center right 20px; }
        .characters__filters-container .filter__select::-ms-expand {
          display: none; }
    .characters__filters-container .reset__btn {
      width: 200px; }
  .characters .characters__card-wrapper {
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px 40px; }
    .characters .characters__card-wrapper .characters__card {
      padding: 20px;
      width: 320px;
      height: 430px;
      background-color: #fff;
      border-radius: 15px;
      background-image: url(./../img/card__semicircle.svg);
      background-position: center bottom 0;
      background-repeat: no-repeat; }
      .characters .characters__card-wrapper .characters__card .characters__img {
        display: block;
        margin: 20px auto 40px;
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid #23C934; }
        .characters .characters__card-wrapper .characters__card .characters__img::before, .characters .characters__card-wrapper .characters__card .characters__img::after {
          content: "";
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #23C934;
          opacity: .2; }
        .characters .characters__card-wrapper .characters__card .characters__img::before {
          width: 120px;
          height: 120px; }
        .characters .characters__card-wrapper .characters__card .characters__img::after {
          width: 140%;
          height: 140%; }
      .characters .characters__card-wrapper .characters__card .card__name-container {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .characters .characters__card-wrapper .characters__card .card__name-container .card__name {
          text-align: center; }
        .characters .characters__card-wrapper .characters__card .card__name-container .card__name-line {
          width: 40px;
          height: 3px;
          border-radius: 5px;
          background-color: #5A6268; }
      .characters .characters__card-wrapper .characters__card .card__info {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 12px; }
        .characters .characters__card-wrapper .characters__card .card__info .card__info-text {
          font-family: "Comfortaa", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: auto;
          letter-spacing: 0;
          color: #5A6268; }
          .characters .characters__card-wrapper .characters__card .card__info .card__info-text span {
            color: #23C934; }
  .characters__plagination {
    padding-bottom: 80px;
    display: flex;
    justify-content: center; }
    .characters__plagination .MuiPagination-ul li:nth-child(1) button {
      transform: rotate(180deg); }
    .characters__plagination .css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
      background-color: #09B20E;
      color: #BDFFA0; }
    .characters__plagination .MuiPaginationItem-previousNext {
      margin: 0 10px;
      width: 60px;
      height: 40px;
      background-color: #fff;
      border-radius: 15px;
      transition: .5s;
      opacity: 1;
      background-image: url(../../../components/main/img/plagination__arrow.svg);
      background-size: 30px;
      background-position: center;
      background-repeat: no-repeat; }
      .characters__plagination .MuiPaginationItem-previousNext:hover {
        transition: .5s;
        opacity: 0.8; }
      .characters__plagination .MuiPaginationItem-previousNext:disabled {
        opacity: 0.6; }
    .characters__plagination .MuiPaginationItem-text {
      color: #fff;
      font-family: "Permanent Marker", cursive;
      font-size: 20px; }
    .characters__plagination .css-g2z002-MuiSvgIcon-root-MuiPaginationItem-icon {
      display: none; }

/*# sourceMappingURL=characters.css.map */
