@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Permanent+Marker&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

body {
  background-color: #292929; }

/* width */
::-webkit-scrollbar {
  width: 14px; }

/* Track */
::-webkit-scrollbar-track {
  background: #5A6268; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #BDFFA0; }

/* Handle on hover */
.wrapper {
  max-width: 1432px;
  padding: 0 60px;
  margin: 0 auto; }

@media screen and (max-width: 500px) {
  .wrapper {
    max-width: 1432px;
    padding: 0 30px;
    margin: 0 auto; } }
.home-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1; }
  .home-bg-circle-1 {
    animation: Attenuation1 5s infinite; }
  .home-bg-circle-2 {
    animation: Attenuation2 10s infinite; }
  .home-bg-circle-3 {
    animation: Attenuation3 15s infinite; }

@keyframes Attenuation1 {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0; } }
@keyframes Attenuation2 {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0; } }
@keyframes Attenuation3 {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0; } }
.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: normal;
  flex-direction: column; }
  .home::before, .home::after {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat; }
  .home::before {
    width: 30%;
    height: 592px;
    left: 0;
    background-image: url(../img/morty-pic.png);
    background-position: bottom left;
    opacity: .6; }
  .home::after {
    width: 35%;
    height: 756px;
    right: 0;
    background-image: url(../img/rick-pic.png);
    background-position: bottom right;
    opacity: .6; }
  .home .intro {
    margin-top: 50px;
    text-align: center; }
    .home .intro__title {
      letter-spacing: 0.05em;
      font-size: 50px; }
    .home .intro__subtitle {
      margin: 0 auto;
      margin-bottom: 20px;
      font-size: 40px;
      max-width: 480px;
      letter-spacing: 0.05em; }
    .home .intro__description {
      margin: 0 auto;
      margin-bottom: 40px;
      font-family: "Permanent Marker", cursive;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: auto;
      letter-spacing: 0;
      color: #fff;
      max-width: 770px;
      letter-spacing: 0.05em; }
    .home .intro__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-bottom: 40px;
      display: inline-block;
      font-size: 24px;
      width: 240px;
      height: 60px;
      background-color: #5A6268;
      border-radius: 15px;
      cursor: pointer;
      transition: .4s; }
      .home .intro__btn:hover {
        transition: .4s;
        opacity: .8; }
  .home .social-media__container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px; }
    .home .social-media__container .social-media {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 46px;
      height: 46px;
      background-color: #fff;
      border-radius: 50%;
      cursor: pointer;
      transition: .5s; }
      .home .social-media__container .social-media svg path {
        transition: .5s; }
      .home .social-media__container .social-media:hover {
        transition: .5s;
        transform: rotate(360deg);
        background-color: #23C934; }
        .home .social-media__container .social-media:hover svg path {
          transition: .5s;
          fill: #BDFFA0; }

@media screen and (max-width: 1200px) {
  .home .intro__title {
    font-size: 44px; }
  .home .intro .intro__subtitle {
    font-size: 28px; }
  .home .intro .intro__description {
    font-size: 18px;
    max-width: 600px; }
  .home .intro .intro__btn {
    height: 50px;
    width: 200px;
    font-size: 20px; }
  .home .social-media__container {
    margin-bottom: 20px; }
    .home .social-media__container .social-media {
      width: 40px;
      height: 40px; }
      .home .social-media__container .social-media svg {
        width: 22px; } }
@media screen and (max-width: 800px) {
  .home::before {
    width: 40%;
    height: 592px; }
  .home::after {
    width: 45%;
    height: 756px; } }
@media screen and (max-width: 600px) {
  .home::before {
    width: 45%;
    height: 592px; }
  .home::after {
    width: 45%;
    height: 756px; }
  .home .intro .intro__title {
    font-size: 40px; }
  .home .intro .intro__description {
    margin-bottom: 30px;
    font-size: 16px; } }
@media screen and (max-width: 500px) {
  .home {
    width: 100%;
    min-height: 100vh;
    background-image: url(../../../components/main/img/fragments-bg.png);
    background-size: 200% auto;
    z-index: -4; }
    .home::before, .home::after {
      display: none; }
    .home .home-bg {
      display: none; }
    .home .intro .intro__title {
      margin-bottom: 2px;
      font-size: 34px; }
    .home .intro .intro__subtitle {
      font-size: 22px;
      max-width: 350px; }
    .home .intro .intro__description {
      margin-bottom: 30px;
      font-size: 16px; } }

/*# sourceMappingURL=home.css.map */
