@import "./variables";

body {
    background-color: $grey;
}

/* width */
::-webkit-scrollbar {
    width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $grey-light;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $accent-color;
}

/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background: #555;
// }


.wrapper {
    max-width: 1432px;
    padding: 0 60px;
    margin: 0 auto;
}


@media screen and (max-width: 500px) {
    .wrapper {
        max-width: 1432px;
        padding: 0 30px;
        margin: 0 auto;
    }
}