$white: #fff;
$grey: #292929;
$grey-light: #5A6268;
$green: #09B20E;
$accent-color: #BDFFA0;
$green-light: #23C934;

$main-font: 'Comfortaa', sans-serif;
$secondary-font: 'Permanent Marker', cursive;
